[Unit]
Description=Fooocus_object_replace.service - A FastApi application for object replace using Fooocus-api  project by mrhan1993 
After=network.target

[Service]
Environment="PATH=/home/Foocus_ObjectReplace/.venv/bin"
WorkingDirectory=/home/Foocus_ObjectReplace/


ExecStart=/home/Foocus_ObjectReplace/.venv/bin/python /home/Foocus_ObjectReplace/main.py 
StandardOutput=append:/var/log/object_replace/access.log
StandardError=append:/var/log/object_replace/error.log

[Install]
WantedBy=multi-user.target