[Unit]
Description=lama_object_replace.service - A FastApi application for object replace using Fooocus-api  project by mrhan1993 
After=network.target

[Service]
Environment="PATH=/Fooocus-API/.venv/bin"
WorkingDirectory=/Fooocus-API/


ExecStart=Fooocus-API/.venv/bin/python /Fooocus-API/main.py 
StandardOutput=append:/var/log/object_replace/access.log
StandardError=append:/var/log/object_replace/error.log

[Install]
WantedBy=multi-user.target